body {
    margin:0;
    line-height: 1.5;
    background-color: green;

    position: relative;

}
#mainContainer{
    position: absolute;
    padding: 15px;
    width: 80%;
    height: 90vh;
    transform: translate(10%, 3.5vh);
    background-color: beige;

    
}
#tittle{
    color: green;
}
input{
    padding:5px;
    font-size: large;
    width: 50%
}
select{
    font-size: large;
    width:51%;
    padding: 5px;
}
.age{
    width:fit-content;
    
}
fieldset{
    width: 50%;
    padding:5px;
    display: flex;
    flex-direction: column;
}
